MONGODB_URI=mongodb://root:3FYLh5aVjNoUj3x7BZ11Yj6eXRaJzvOwAgOp@3.130.27.8:21700/
PORT=4000
SIGN_IN_MSG=agentland

PUBLIC_SOLANA_RPC=https://devnet.helius-rpc.com/?api-key=791e2c4e-4495-45c4-b873-c8f35344e0c0 
PUBLIC_SOLANA_WS=wss://devnet.helius-rpc.com/?api-key=791e2c4e-4495-45c4-b873-c8f35344e0c0 
 
PRIVATE_KEY=mmmtEeznzPr54E6EBEwW8xf9F3xBqcbfvqBrpze1YqQTKD6Qxcea3xHRoG4jthEZsos6uxPMnV1Z8fvMK36m9AV
PINATA_API_KEY=4cde39ffdcf89504cdcb


PINATA_SECRET_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI5NzVlZmUwNC0yYTMyLTRkYmQtYWViZS03MTljYzJiY2UwZjkiLCJlbWFpbCI6InR1YmFja2tob2FAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjRjZGUzOWZmZGNmODk1MDRjZGNiIiwic2NvcGVkS2V5U2VjcmV0IjoiYmE4MjA5MDU0ZjIwNzU0ZjUzNzE5MGE3Y2ZiZjk2YWZkMzc3NTM2MjQ3ZDhmMzllODlmYTU4YzVmY2IyMWZhMCIsImV4cCI6MTc2NDEzMDE0NX0.-R16wLdlQLda2BSuvV8_-uev8ISKWZVXA-BkXVjm8uc
PINATA_GATEWAY_URL=https://scarlet-extra-cat-880.mypinata.cloud
DEFAULT_IMG_HASH=
PROGRAM_ID=3uHJMHzeiqdqQ3LNc5bNVxuCp224HGtStPkv1JUEcabr